{% load static %}

<!DOCTYPE html>
<html>
  {% include "./header.html" %}
  <body class="is-preload">
    <div id="wrapper">
      {% include "./navbar.html" %} {% include "./menu.html" %}

      <!-- Main Blog Post stuff-->
      <div id="main">
        <div class="inner">
          <h1>{{post.post_title}}</h1>
          <span class="image main"><img src="images/pic13.jpg" alt="" /></span>
          {{post.post_text}}
        </div>
      </div>

      {% include "./footer.html" %}
  </body>
</html>
